// Шрифты==================================================
$CircularStd: 'CircularStd',
sans-serif;

// Размеры
$fzMain: 20px;
$fzLink: 17px;
$fzSmall: 18px;
$lhMain: 1.3;
$lhBig: 130%;

// Цвета==================================================
$colorMain: #5F5F5F;
$colorTitle: #313131;
$colorAccent: #FFE600;
$colorBg: #FFFFFF;


// Для анимаци=============================================
$duration: 0.4s;

// Мексины==================================================
